/* Wordle Colors */
/* 

green: #538d4e
yellow: #b59f3b
gray: #3a3a3c

bg: #121213
keyboard-bg: #818384

*/

html, body {
    background-color: #121213;
    height: 100%;
}

#wordle-container {
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(5, 40px);
    gap: 10px;
    justify-content: center;
}

.letter {
    border: rgb(99, 99, 99), 1px solid;
    background: #121213;
    color: whitesmoke;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#keyboard {
    padding: 20px;
    justify-content: center;
    display: grid;
}

.keyboard-row {
    display: flex;
    margin: 5px;
    justify-content: center;
}

.key {
    background-color: #686868;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    margin: 0 5px;
    text-align: center;
    cursor: pointer;
}